* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  background-image: linear-gradient(
    to right,
    rgb(139, 93, 218),
    rgb(255, 182, 136)
  );
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(49, 48, 48);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.numbers {
  background-color: rgb(49, 48, 48);
  border: none;
  outline: none;
  color: rgb(165, 99, 99);
  font-size: medium;
  text-align: right;
}

.counts {
  background-color: rgb(49, 48, 48);
  border: none;
  outline: none;
  color: #fff;
  font-size: large;
  text-align: right;
}

.calculator span {
  display: grid;
  width: 63px;
  height: 60px;
  color: rgb(0, 0, 0);
  place-items: center;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(251, 251, 251),
    rgb(241, 241, 241)
  );
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute_plus {
  position: absolute;
  left: -10px;
  top: -12px;
  z-index: 1;
}
.absolute_division {
  position: absolute;
  z-index: 1;
  top: -8px;
}
.absolute_minus {
  position: absolute;
  right: -11px;
  top: -6px;
}
.purple {
  background-image: linear-gradient(
    to bottom,
    rgb(166, 6, 240),
    rgb(159, 4, 231)
  ) !important;
  color: #ffffff !important;
}

.border-b-l {
  border-bottom-left-radius: 5px;
}

.equal {
  grid-column: span 2;
  width: 126px !important;
  color: #ffffff !important;
  background-image: none !important;
  background-color: rgb(235, 15, 125) !important;
  border-bottom-right-radius: 5px;
}
